.container {
  font-family: 'DM Sans', sans-serif;
}

.header {
  display: flex;
  justify-content: flex-start;
  padding: 40px 100px;
}

.imageHeader {
  height: 50px;
  width: auto;
}

.infoContainer {
  display: flex;
  flex-direction: row;
  background-color: #FAFAFA;
  margin: 20px 100px;
  padding: 50px;
  align-items: center;
  justify-content: space-between;
}

.details {
  display: flex;
  flex-direction: column;
}

.details h1 {
  color: #D3573C;
  font-size: 60px;
  font-weight: 400;
  margin: 0.5em 0;
}

.localisation {
  font-size: 24px;
  color: #901C1C;
  margin: 0 0 0.5em 0;
}

.portrait {
  width: 373px;
  height: 200px;
  position: relative;
  overflow: hidden;
}

.photoWrapper {
  width: 200px;
  height: 100%;
  overflow: hidden;
  position: relative;
  margin-left: auto;
}

.photoWrapper img {
  border-radius: 50%;
}