.container {
  font-family: 'DM Sans', sans-serif;
}

.header {
  display: flex;
  justify-content: flex-start;
  padding: 40px 100px;
}

.imageHeader {
  height: 50px;
  width: auto;
}

.infoContainer {
  display: flex;
  flex-direction: row;
  background-color: #FAFAFA;
  margin: 20px 100px;
  padding: 50px;
  align-items: center;
  justify-content: space-between;
}

.details {
  display: flex;
  flex-direction: column;
}

.details h1 {
  color: #D3573C;
  font-size: 60px;
  font-weight: 400;
  margin: 0.5em 0;
}

.localisation {
  font-size: 24px;
  color: #901C1C;
  margin: 0 0 0.5em 0;
}

.portrait {
  width: 200px;
  height: 200px;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
}

.photoWrapper {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}


.photographerCardBottom {
  position: fixed;
  bottom: 0;
  right: 40px;
  width: 300px;
  font-size: 24px;
  background-color: #DB8876;
  color: #000000;
  border-radius: 5px 5px 0 0;
  padding: 0 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
}
