.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  justify-content: space-between; 
  margin-top: 30px;
  gap: 30px 100px;
  padding: 0 100px;
}

.mediaCard {
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  cursor: pointer;
}

.mediaCard img,
.mediaCard video {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 5px;
}

.mediaInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  font-size: 20px;
  color: #901C1C;
}

.mediaTitle {
  font-weight: 400;
  font-size: 24px;
}

.likesContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.likeButton {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
  gap: 5px;
}


/********************** Trie ***********************/
.sortContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
  padding: 20px 0px 20px 100px;
}

.sortContainer select {
  border-radius: 5px;
  background-color: #901C1C;
  color: #fff;
  border: none;
  padding: 15px;
  cursor: pointer;
}

.sortWrapper {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 0 100px 20px 100px;
  margin-bottom: 30px;
}

.sortLabel {
  font-weight: bold;
  font-size: 18px;
  color: #000;
}

.customSelect {
  position: relative;
  width: 170px;
  z-index: 999;
}

.selectTrigger {
  width: 100%;
  background-color: #901c1c;
  color: white;
  padding: 15px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.selectTrigger[aria-expanded="true"] {
  border-radius: 5px 5px 0 0;
}

.selectMenu {
  background-color: #901c1c;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  border-radius: 0 0 5px 5px;
  display: block;
}

.selectOption {
  padding: 15px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  position: relative;
}

.selectOption::after {
  content: '';
  position: absolute;
  top: 0;
  left: 10px; 
  right: 10px;
  height: 1px;
  background-color: white;
}

.selectOption::before {
  content: '';
  position: absolute;
  top: 0;
  left: 15px; 
  right: 15px;
  height: 1px;
  background-color: white;
}

.selectOption:first-child::before {
  display: none;
}

.selectOption:hover {
  background-color: #a52626;
}

.arrow {
  border: solid white;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  transition: transform 0.3s ease;
}

.down { transform: rotate(45deg); margin-bottom: 2px; }
.up { transform: rotate(-135deg); margin-top: 4px; }





/********************** Modal ***********************/
.modalOverlay {
  position: fixed;
  inset: 0;
  background: rgba(196, 196, 196, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background: white;
  width: 65vw; 
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  padding: 20px;
}

.contentScaler {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.modalImg {
  width: 50vw;
  height: 85vh;
  object-fit: cover; 
  object-position: center; 
  display: block;
}

.sideColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 90vh;
  position: relative;
}

.closeButton {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 40px;
  color: #901C1C;
  background: none;
  border: none;
  cursor: pointer;
  line-height: 1;
}

.modalTitle {
  font-size: 24px;
  color: #901C1C;
  margin: 15px 0 0 0;
  font-weight: 400;
}

.navButton {
  font-size: 3rem;
  color: #901C1C;
  background: none;
  border: none;
  cursor: pointer;
  flex-shrink: 0;
}





.photographerCardBottom {
  position: fixed;
  bottom: 0;
  right: 40px;
  width: 300px;
  font-size: 24px;
  background-color: #DB8876;
  color: #000000;
  border-radius: 5px 5px 0 0;
  padding: 0 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  z-index: 999;
}
