.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  justify-content: space-between; 
  margin-top: 30px;
  gap: 30px 100px;
  padding: 0 100px;
}

.mediaCard {
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  cursor: pointer;
}

.mediaCard img,
.mediaCard video {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 5px;
}

.mediaInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  font-size: 20px;
  color: #901C1C;
}

.sortContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
  padding: 20px 0px 20px 100px;
}

.sortContainer select {
  border-radius: 5px;
  background-color: #901C1C;
  color: #fff;
  border: none;
  padding: 15px;
  cursor: pointer;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  position: relative;
  background: white;
  padding: 1rem;
  border-radius: 10px;
  max-width: 90%;
  max-height: 90%;
  display: flex;
  flex-direction: column;
  align-items: left;
  color: #901C1C;
}

.modal img {
  width: 60vw;
  max-height: 80vh;
  object-fit: contain;
  border-radius: 5px;
  pointer-events: none;
}

.modalImg {
  border-radius: 5px;
  pointer-events: none;
}

.modal p {
  margin-top: 1rem;
  font-size: 1.2rem;
  z-index: 11;
}


.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.5rem;
  color: #901C1C;
  background: none;
  border: none;
  cursor: pointer;
}

.prevButton, .nextButton {
  position: absolute;
  top: 50%;
  font-size: 2rem;
  color: #901C1C;
  background: none;
  border: none;
  cursor: pointer;
  transform: translateY(-50%);
}

.closeButton, .prevButton, .nextButton {
  position: absolute;
  z-index: 10;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 2rem;
}

.prevButton { left: 10px; }
.nextButton { right: 10px; }










.sortWrapper {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 0 100px;
  margin-bottom: 30px;
}

.sortLabel {
  font-weight: bold;
  font-size: 18px;
  color: #000;
}

.customSelect {
  position: relative;
  width: 170px;
  z-index: 999;
}

.selectTrigger {
  width: 100%;
  background-color: #901c1c;
  color: white;
  padding: 15px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.selectTrigger[aria-expanded="true"] {
  border-radius: 5px 5px 0 0;
}

.selectMenu {
  background-color: #901c1c;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  border-radius: 0 0 5px 5px;
  display: block;
}

.selectOption {
  padding: 15px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  position: relative;
}

.selectOption::after {
  content: '';
  position: absolute;
  top: 0;
  left: 10px; 
  right: 10px;
  height: 1px;
  background-color: white;
}

.selectOption::before {
  content: '';
  position: absolute;
  top: 0;
  left: 15px; 
  right: 15px;
  height: 1px;
  background-color: white;
}

.selectOption:first-child::before {
  display: none;
}

.selectOption:hover {
  background-color: #a52626;
}

.arrow {
  border: solid white;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  transition: transform 0.3s ease;
}

.down { transform: rotate(45deg); margin-bottom: 2px; }
.up { transform: rotate(-135deg); margin-top: 4px; }