.gallery {
  display: grid;
  grid-template-columns: repeat(3, 350px); 
  justify-content: space-between; 
  margin-top: 30px;
  padding: 0 100px;
}

.mediaCard {
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  width: 350px;
  cursor: pointer;
}

.mediaCard img,
.mediaCard video {
  width: 350px;
  height: 300px;
  object-fit: cover;
  border-radius: 5px;
}

.mediaInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  font-size: 20px;
  color: #901C1C;
  margin-bottom: 2em;
}

.sortContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
  padding: 20px 0px 20px 100px;
}

.sortContainer select {
  border-radius: 5px;
  background-color: #901C1C;
  color: #fff;
  border: none;
  padding: 15px;
  cursor: pointer;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  position: relative;
  background: white;
  padding: 1rem;
  border-radius: 10px;
  max-width: 90%;
  max-height: 90%;
  display: flex;
  flex-direction: column;
  align-items: left;
  color: #901C1C;
}

.modal img {
  width: 60vw;
  max-height: 80vh;
  object-fit: contain;
  border-radius: 5px;
  pointer-events: none;
}

.modalImg {
  border-radius: 5px;
  pointer-events: none;
}

.modal p {
  margin-top: 1rem;
  font-size: 1.2rem;
  z-index: 11;
}


.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.5rem;
  color: #901C1C;
  background: none;
  border: none;
  cursor: pointer;
}

.prevButton, .nextButton {
  position: absolute;
  top: 50%;
  font-size: 2rem;
  color: #901C1C;
  background: none;
  border: none;
  cursor: pointer;
  transform: translateY(-50%);
}

.closeButton, .prevButton, .nextButton {
  position: absolute;
  z-index: 10;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 2rem;
}

.prevButton { left: 10px; }
.nextButton { right: 10px; }
